body {
    background-color: rgb(255, 255, 255);
    color: rgb(52, 73, 94); 
    width: 100%;
    max-width: 40em;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

p, li {
    line-height: 1.5;
}

#content {
    width: 100%;
    padding: 2em;
}

#content > article {
    margin: 2em 0;
}

article {
    text-align: left;
    flex: 1;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

hr {
    border: 1px solid #ac885e;
}

a {
    color: #42b983;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited,
h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none;
}

a:visited {
    transition: color .1s linear;
    color: #4078cf;
}

@media (max-width: 600px) {
    #content {
        padding: 1em;
    }

    #main {
        margin-bottom: 2em;
    }
}
