html {
    background: url(/images/concrete_seamless.png) #131f31;
}

body {
    width: 100%;
    max-width: 40em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #222;
    line-height: 1.4em;
    margin: 0 auto;
}

#main {
    display: flex;
    background: url(/images/textured_paper.png) #fcfbf7;
}

article {
    text-align: justify;
    flex: 1;
    padding: 0em 4em;
}

article:first-child {
    padding-top: 2em;
}

article:last-child {
    padding-bottom: 2em;
}

h2 {
    font-size: 24px;
}
